.main-contacts {
    width: 67%;
    margin: 0 auto 50px auto;
}

.section-bunner-contacts {
    background: url(../img/Rectangle%2084.png) no-repeat center;
    background-size: cover;
}

.main-contacts-list {
    display: flex;
    justify-content: space-around;
}

.main-contacts-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    border-right: 1px solid #D7D7D7;
    padding: 10px 50px;
    
}

.main-contacts-item:last-child {
    border: none;
    
}

.main-contacts-title {
    font-family: "Roboto", 'sans-serif';
    font-size: 24px;
    line-height: 31.73px;
    font-weight: bold;
    color: #000;
}

.main-contacts-values-address {
    text-align: left;
}

.main-contacts-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.main-contacts-values {
     display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22.83px;
    text-align: center;
    color: #929292;
    
}

.main-contacts-values span {
    white-space: nowrap;
}

.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 650px;
}


@media all and (max-width: 1266px) {
    
    .main-contacts {
        width: 95%;
    }
    
      .main-contacts-title {
    font-size: 20px;
    line-height: 26.44px;
    }   
   
}


@media all and (max-width: 968px) {
    .main-contacts-wrapper {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0 auto ;
    }
    
    .main-contacts-list {
    flex-direction: column;
    }
    
    .main-contacts-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    border-right: none;
    padding: 0;
    padding-bottom: 25px;
    }
    
    .main-contacts-img {
    margin-right: 15px;
        min-width: 65px;
    }
    
     .main-contacts-img img {
        width: 40px;   
    }
    
    .main-contacts-values {
    text-align: left;
    
    }
    
    .main-contacts-list {
        padding-left: 10px;
    }
    
    .main-contacts-values span {
        font-size: 14px;
        line-height: 19px;
    }
    
    .main-contacts-title {
    font-size: 20px;
    line-height: 26.44px;
    }
    
    .contact-map {
    width: 60%;
        
}
    
    .contact-map iframe {
        max-height: 350px;
    }
    


}

@media all and (max-width: 568px) {
	.main-contacts-wrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }
    
    .main-contacts-list {
    flex-direction: column;
    }
    
    .main-contacts-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    border-right: none;
    padding: 0;
    padding-bottom: 25px;
    }
    
    
    
    .main-contacts-img {
    margin-right: 15px;
    }
    
    .main-contacts-title {
    font-size: 20px;
    line-height: 26.44px;
    }
    
    .contact-map {
    width: 100%;
    background: url(../img/map.jpg) no-repeat center;
    background-size: cover;
}
}