.section-bunner {
    position: relative;
    min-height: 260px;
    width: 100%;
    background:  url('../img/spaectehnika.png') no-repeat center;
    background-size: cover;

}

.section-bunner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.buner-title-page {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 132.19%;
    text-transform: none;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    top: 100px;
}

.product {
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
    align-self: flex-start;
    text-transform: uppercase;
    color: #000000;
}

.product-content {
    border-top: 1px solid #000;
    display: flex;
    margin-bottom: 85px;
    padding-top: 15px;
}

.product-images {
    display: flex;
    max-height: 430px;
    margin-right: 35px;
}

.product-main-img {
    max-height: 435px;
    max-width: 514px;
    margin: 0;
}

.product-secondary-img {
    max-height: 435px;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 170px;

}

.product-secondary-img img {
    height: 30%;
    max-width: 160px;
    margin-bottom: 10px;
}

#img-video {
    position: relative
}

#img-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
}

.product-content-description {
    display: flex;
    flex-direction: column;
}

.description-title {
 font-family: 'Exo 2', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
    margin-top: 35px;
}

.description-body {
    margin-bottom: 48px;
}

.table-first-column {
 font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #3D3D3D;
    padding-bottom: 15px;
}

.table-second-column {
 font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
    padding-bottom: 10px;
color: #000000;
    text-align: center;
}

.product-description-link  {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background: #B12020;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 13px 43px;
    border: 1px solid transparent;
    white-space: nowrap;
    align-self: center;
}

.product-description-link:hover {
    background: #ffffff;
    border: 1px solid #B12020;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}

.characteristics {
    margin-bottom: 140px;
}

#myTab .nav-item:first-child a {
    margin: 0;
}

#myTab a {
  font-family: 'Exo 2', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
background: #DDDDDD;
border-radius:5px 5px 0px 0px  ;
color: #000000;
    padding: 18px 55px;
    margin-left: 5px;
}

#myTab .active {
    color: #fff;
    background: #B12020;
}

#myTabContent {
    text-align: justify;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 40px 50px;
}

@media all and (max-width: 1446px) {
    .section-bunner {
    min-height: 138px;
}


.buner-title-page {
    font-size: 24px;
    line-height: 29px;
    top: 40px;
}

    .product {
    width: 95%;
}


}

@media all and (max-width: 1266px) {

    h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .product-images {
        margin-right: 35px;
        margin-right: 35px;
    }

    .product-main-img {
        max-height: 430px;
    }
}


@media all and (max-width: 968px) {
	.section-bunner {
    min-height: 124px;
}

    .product-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
    align-self: flex-start;
    text-transform: uppercase;
    color: #000000;
}



.product-images {
    display: flex;
    max-height: unset;
    margin-right: 0px;
    flex-direction: column;
}

.product-content {
    margin-bottom: 60px;
}

.product-secondary-img {
        max-width: 514px;
    max-height: 100px;
}

.product-secondary-img img {
    width: 125px;
/*
    height: 80%;
    margin-left: 10px;
    max-width: 100px;
*/
}

.product-content-description {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-left: 25px;
}

.description-title {
 font-family: 'Exo 2', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
    margin-top: 35px;
}

.table-first-column {
 font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #3D3D3D;
    padding-bottom: 10px;
}

.table-second-column {
 font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
    padding-bottom: 10px;
color: #000000;
}

.product-description-link  {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background: #B12020;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 13px 43px;
    border: 1px solid transparent;
    white-space: nowrap;
    align-self: center;
}

.product-description-link:hover {
    background: #ffffff;
    border: 1px solid #B12020;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}

.characteristics {
    margin-bottom: 140px;
}

#myTab a {
  font-family: 'Exo 2', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
background: #DDDDDD;
border-radius:5px 5px 0px 0px  ;
color: #000000;
    padding: 10px 30px;
}

#myTab .active {
    color: #fff;
    background: #B12020;
}

#myTabContent {

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 40px 50px;
}


}

@media all and (max-width: 568px) {

    .section-bunner {
    min-height: 70px;
}


.buner-title-page {
    font-size: 18px;
    line-height: 22px;
    top: 25px;
}

    .product-content {
    flex-direction: column;
}
   .product-images {
    margin-bottom: 120px;
    }

    .product-images a {
    text-align: center;
    }

    .product-secondary-img {
        max-width: 100%;

}

    .product-secondary-img img {
        display: block;
        margin: 0 auto;
    }

    .consultation-text {
    width: 75%;
    padding: 15px;
    margin-bottom: 25px;
}

    #myTab a {
font-size: 14px;
line-height: 17px;
        padding: 18px 25px;
}

    .product-content-description {
        width: 280px;
    }


}
@media all and (max-width: 400px) {
    .product-images {
       margin-bottom: -40px;
    }
}

