body {
	min-width: 320px;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Exo 2', sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	width: 100%;
	height: auto;
}

.arrow {
	width: 12px;
	height: 8px;
}

h1 {
	width: 752px;
	padding: 59px 69px;
	background-color: rgba(0, 0, 0, 0.78);
	border-radius: 0 10px 10px 0 ;
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	color: #B12020;
}

h2 {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 73px;
	padding: 0;
}

.image-style-align-right {
    float: right;
    margin: 10px;
    padding-left: 25px;

}

.image-style-align-left {
    float: left;
    margin: 10px;

}

.image-style-align-left img {
    padding-right: 25px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50px;
}

.nav-menu-control,
.nav-sub-menu-btn {
	display: none;
}

.main-header {

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 9;
}

.header-border {
    position: relative;
}

.header-border::before{
    content: "";
    position: absolute;
    top: -40%;
    right: -40%;
    width: 100%;
    height: 100%;
    transform: scale(2);
    background: url('../svg/header-bg.svg') no-repeat center;
}

.header-border::after{
    content: "";
    position: absolute;
    bottom: -40%;
    left: -40%;
    width: 100%;
    height: 100%;
    transform: rotate(180deg) scale(2);
    background: url('../svg/header-bg.svg') no-repeat center;
}

.header-block {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-logo {
	align-self: center;
	display: flex;
	align-items: center;
    max-height: 69px;
    transition: max-height .4s;
}

.main-logo img {
	width: 328px;
	height: 69px;
}

.main-logo.disabled{
    max-height: 0px;
    transition: max-height .4s;
}

.main-header-wrapper {
	display: flex;
	background-color: #E9E9E9;
}


.menu-wrapper {
	width: 67%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.menu-wrapper a {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	padding: 11px 20px;
	border: 4px solid transparent;
	white-space: nowrap;
}

.menu-wrapper a:hover {
	color: #B12020;
	text-decoration: none;
}

.nav-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	flex-grow: 1;

}

.nav-technics {
	position: relative;
}

.technics-list {
	position: absolute;
	top: 37.5px;
	left: 0;
	list-style: none;
	padding: 25px 0;
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 610px;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.technics-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150px;
	justify-content: flex-start;
	border:2px solid transparent;
	width: 150px;
    margin: 10px;
}


.technics-item-control {
	display: none;
}

.technics-item:hover {
	border:2px solid #cccccc;
}

a.technics-link {
	padding: 25px 5px;
	text-decoration: none;
	height: 100%;
}

.technics-link-img {
	display: block;
	max-width: 144px;
	max-height: 114px;
	min-width: 143px;
}

h3.technics-link-header {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 16.44px;
	text-align: center;
}

.nav-technics:hover .technics-list {
	display: flex;
}

.nav-services {
	position: relative;
}

.service-list {
	position: absolute;
	top: 37px;
	left: 50%;
    transform: translateX(-50%);
	list-style: none;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-width: 240px;
	background-color: #ffffff;
    padding: 10px 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.service-list a {
    padding: 2px 10px;
    display: block;
}

.main-nav-services a.service-link {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 90px;
	color: #000000;
}

.nav-services:hover .service-list {
	display: flex;
}

.nav-secendory-block {
	display: flex;
}

.technics-item-control {
	display: none;
}

.nav-link-contact-phone img {
	width: 18px;
}

#navbarDropdown-menu {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	max-width: 80px!important;
	min-width: auto;
}

#navbarDropdown {
    color: #4E4E50;
}

.sm-menu-btn {
	display: none;
}

.nav-secendory-block a {
    font-weight: normal;
}

.item-btn-back-onmobile {
	display: none;
}

.main-content {
	width: 100%;
	margin-top: 122px;
    min-height:  100vh;
}

.tagline {
	width: 100%;
    position: relative;
    left: -2px;
    margin-top: 0;
    margin-bottom: 60px;
    min-height: calc(100vh - 121px) ;
    /*padding-top: 15%;*/
    overflow: hidden;
}

.tagline h1 {
    margin-top: 15%;
    position: relative;
    z-index: 2;
}

.tagline video {
    width: 100%;
    height: auto;
}

.catalog-equipment {
	width: 67%;
	padding: 0;
	padding-top: 72px;
	margin: 0 auto 72px auto;
}

.catalog-equipment-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.catalog-equipment-item {
	margin-right: 1%;
	margin-bottom: 1%;
	width: 32%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.catalog-equipment-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-equipment-link {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-equipment-number {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 54px;
	height: 54px;
	top: 10px;
	right: 10px;
	background-color: #B12020;
	color: #ffffff;
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
}

.catalog-equipment-link:hover {
	text-decoration: none;
}

.catalog-equipment-link-header {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	white-space: nowrap;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #000000;
	padding: 20px 0;
	margin: 0;
}

.catalog-equipment-link:hover
.catalog-equipment-link-header {
	background-color: #B12020;
}


.scheme-work {
	width: 100%;
	margin: 0 auto 61px auto;
}

.scheme-work-header {
	padding-bottom: 50px;
}

.scheme-work-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 0 auto 100px auto;
    padding: 0;
}

.scheme-work-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scheme-work-item::after {
	content: "";
	position: absolute;
	top: -35px;
	left: 35px;
	width: 2px;
	height: 30px;
	background: #4E4E50;
}

.scheme-work-item:nth-child(2)::after,
.scheme-work-item:nth-child(4)::after {
	top: auto;
	bottom: -35px;
}

.scheme-work-description {
	position: absolute;
	top: -55px;
	left: -20px;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 21.13px;
	font-weight: 700;
	white-space: nowrap;
	color: #000000;
}

.scheme-work-item:nth-child(2) .scheme-work-description,
.scheme-work-item:nth-child(4) .scheme-work-description {
	top: 110px;
    left: -55px;
}

.scheme-work-item:nth-child(3) .scheme-work-description {
    left: -50px;
}

.scheme-work-number {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	background-color: #B12020;
	border-radius: 50%;
	padding: 12px 23px;
	margin: 5px;
}

.scheme-work-number::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -8px;
	width: 82px;
	height: 82px;
	border: 2px solid #4E4E50;
	border-radius: 50%;
}

.scheme-work-number::after {
	content: "";
	position: absolute;
	top: 29px;
	left: 80px;
/*	width: 204px;*/
    width: calc(125px - 25px);
	height: 2px;
	border: 1px dashed #000;
}

.scheme-work-number-last::after {
	border: none;
}

.scheme-work-form {
	width: 67%;
	margin: 0 auto;
	padding: 75px 150px;
	border-radius: 3px;
	box-shadow: 0, 0, 10px, rgba(78, 78, 80, 0.25);
	border: 2px solid rgba(78, 78, 80, 0.25);
}

.scheme-work-legend {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	font-size: 19px;
	line-height: 36px;
	vertical-align: top;
	margin-bottom: 26px;
}

.scheme-work-inputs {
    display: flex;
    justify-content: space-between;
}

.scheme-work-input {
	min-height: 46px;
	border-radius: 5px;
	border-color: #cccccc;
	margin-bottom: 26px;
	border-style: solid;
	min-width: 48%;
     padding: 10px 25px ;
}

.scheme-work-textarea {
	min-height: 115px;
	border-radius: 5px;
	margin-bottom: 26px;
    border-color: #cccccc;
    max-height: 150px;
     padding: 25px ;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #868686;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;

	color: #868686;
}

.scheme-work-btn {
	min-height: 49px;
	min-width: 192px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #B12020;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 23.48px;
	font-weight: 700;
    display: block;
    margin: 0 auto;
}

.scheme-work-btn:hover {
	box-shadow: 0 0 5px #B12020;
    color: #000;
    background-color: #fff;
}

.slider {
	/*width: 100%;*/
	/*margin: 100px auto -110px auto;*/
	/*min-height: 142px;*/
    /*max-height: 320px;*/
    margin-bottom: 0px;
    max-height: 212px;
}

.slick-slide:first-child {
    border: 2px solid #ccc;
}

.slick-slide {
	margin: 0px;
    border: 2px solid #ccc;
    border-left: none;
}
/*

.slick-slide img {
	width: 100%;
    min-width: 150px;
}
*/





.slick-slide {
	transition: all ease-in-out .3s;
    max-height: 212px;
}

/*
.slick-active {
	opacity: .5;
}
*/

.slick-current {
	opacity: 1;
}

.seo {
	position: relative;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	min-height: 605px;
	padding: 65px 75px;
    color: #fff;
    text-align: justify;

}

.seo::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 605px;
	background: #000000 url("../img/seo-bg.jpg") no-repeat center;
	background-size: cover;

	z-index: -1;
}

.seo-wrap {
    width: 67%;
    margin: 0 auto;
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.25);
}

.footer-wrapper {
	width: 90%;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}

.footer-logo {
	display: flex;
	align-items: center
}

.footer-list {
	list-style: none;
	margin: 0;
	margin-top: 52px;
	padding: 0;
}

.footer-link {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 25px;
    font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.footer-link:hover {
	text-decoration: none;
	color: #B12020;
}

.footer-contacts-list {
	 list-style: none;
	margin: 0;
	margin-top: 32px;
	padding: 0;
    max-width: 300px;
}

.footer-contacts-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 18px;
}

.footer-contacts-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: -30px;
	width: 20px;
	height: 20px;
	background: url('../img/phone.png') no-repeat center;
}

.footer-contacts-item-list::before {
	background: url('../img/list.png') no-repeat center;
}

.footer-contacts-item-home::before {
	background: url('../img/home-phone.png') no-repeat center;
}

.footer-contacts-item-marker::before {
	background: url('../img/marker.png') no-repeat center;
}

.footer-contacts-link {
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	line-height: 16.8px;
	color: #4E4E50;
}

.footer-contacts-link:hover {
	color: #4E4E50;
}

.copyright {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16.4px;
	color: #A8A8A8;
    align-items: center;
}

.copyright a {
    padding-left: 15px;
}


@media all and (max-width: 1700px) {



}

@media all and (max-width: 1380px) {


    .slider {
       max-height: 150px;
    }

    .slick-slide {
        max-height: 150px;
    }
}

@media all and (max-width: 1036px) {


    .slider {
        margin-bottom: -150px;
    }
}

@media all and (max-width: 1266px) {

    h2 {
        font-size: 22px;
        line-height: 26px;
    }

	.header-block {
		width: 95%;
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav-secendory-block-mobile {
		display: none;
	}

	.menu-wrapper {
		width: 100%;
	}

	.main-logo img {
		width: 218px;
		height: 46px;
	}

	.nav-menu-list {
		position: absolute;
		/*     flex-direction: column;*/
		/*     min-height: 150%;*/
		display: block;
		top: 0;
		right: 0;
		background: #fff;
		padding: 0 75px;
		min-width: 400px;
		min-height: 100vh;
		z-index: 10;
		transform: translateX(100%);
		transition: 1s all;
	}

	.nav-technics:hover .technics-list, .nav-services:hover .service-list {
		display: block;
	}


	.service-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border: 2px solid transparent;
		align-items: flex-start;
		height: 50px;
		width: 100%;
	}


	.nav-menu-control {
		display: flex;
		align-self: flex-end;
		align-items: center;
		height: 52px;
		margin-bottom: 35px;
	}

	.main-control-btn {
		border: none;
		background: transparent;
		margin-left: auto;
	}

	.nav-menu-list-open {
		transform: translateX(0%);
		transition: 1s all;
	}

	.nav-technics,.nav-services {
		position: initial;
	}


	.technics-list, .service-list {
		display: block;
		top: 0;
		left: 0;
		z-index: 5;
		padding: 0 75px;
		background-color: #fff;
		transform: translateX(100%);
		transition: 1s all;
		min-height: 100vh;
		min-width: unset;
		width: 100%;
	}

	/*
        .nav-technics:hover .technics-list {
            transform: translateX(0);
        transition: 1s all;

        }
    */
	.nav-sub-menu-btn-technics {
		transform: translateX(0);
		transition: 1s all;
	}

	.nav-technics {
		display: block;
	}

	.technics-list{
		/*        padding: 0;*/
	}

	.nav-menu-item {
		display: flex;
		margin-bottom: 0;
	}


	.technics-item {
		align-items: flex-start;
		height: 50px;
		width: 100%;
	}

	.technics-item-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 2px solid transparent;
		flex-direction: row;
		min-width: 310px;
		/*        margin-left: 25px;*/
		/*        width: calc(100% - 25px);*/
	}

	.technics-item-control button {
		background-color: transparent;
		border: none;
        padding-right: 20px;
	}

	.technics-item-control-img {
		width: 22px;
		height: 22px;
	}


	a.technics-link {
		margin-left: 25px;
	}

	h3.technics-link-header {
		text-align: left;
		font-weight: bold;
	}

	.technics-link-img {
		display: none;
	}

	.service-list .service-link{
		padding: 25px 5px;
		text-decoration: none;
		height: 100%;
		margin-left: 25px;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		line-height: 16.44px;
		text-align: left;
		font-weight: bold;
	}



	.nav-sub-menu-btn-service {
		transform: translateX(0);
		transition: 2s all;
	}

	.nav-link-contact-phone img {
		width: 18px;
	}




	.nav-menu-link {
		display: block;
		padding: 20px 35px;
	}

	.nav-sub-menu {
		min-width: 300px;
		display: flex;
		justify-content: space-between;
	}


	.nav-menu .sm-menu-btn {
		display: flex;
		align-items: center;
		border: none;

	}

	.nav-sub-menu-btn {
		display: block;
		border: none;
		background-color: transparent;
	}

	.nav-sub-menu-img {
		transform: rotate(-90deg);
	}

	.main-header-wrapper {
		background-color: #fff;
	}

	.sm-menu-btn {
		background-color: transparent;
	}

	.sm-menu-btn img {
		min-width: 30px;

	}

	.main-content {
		margin-top: 50px;
	}

	.tagline {
		min-height: 443px;
        margin-top: 55px;
	}

	h1 {
		width: 477px;
		padding: 46px 90px 46px 70px;
		font-size: 24px;
		line-height: 29px;
	}

    .catalog-equipment {
		width: 95%;
	}

	.catalog-equipment-header {
		font-size: 22px;
		line-height: 26px;
	}



	.scheme-work-header {
		font-size: 16px;
		line-height: 19px;
	}

    .catalog-equipment-link-header {
        font-size: 16px;
		line-height: 19px;
    }

	.scheme-work-number {
		font-size: 22px;
		line-height: 26px;
		padding: 15px 23px;
	}



	.scheme-work-number::before {
		top: -13px;
		left: -13px;
	}

	.scheme-work-item:nth-child(2)::after, .scheme-work-item:nth-child(4)::after {

    left: 30px;
    }

	.scheme-work-description {
		font-size: 16px;
		line-height: 19px;
	}

	.scheme-work {
		width: 95%;
	}

    .scheme-work-form {
        width: 95%;
        padding: 75px 40px;
    }

	.scheme-work-legend {
		font-size: 22px;
		line-height: 26px;
	}

    .scheme-work-inputs {
        width: 100%;
    }

    .scheme-work-textarea {
        max-height: 150px;
        padding: 10px 25px;
    }

	.scheme-work-btn {
		font-size: 18px;
		line-height: 21px;
            text-align: center;
    display: block;
        margin: 0 auto;
	}

	.our-clients-header {
		font-size: 22px;
		line-height: 26px;
	}

    .slider {
    max-height: 140px;
        margin-bottom: 0;
}

	.slick-next {
		right: -150px;
	}

	.seo-wrap {
    width: 95%;
}
	.footer-wrapper {
		width: 100%;
	}

	.footer-content {
		width: 95%;
	}

	.footer-link {
		font-size: 13px;
		line-height: 177.5%;
	}

	.footer-contacts-link {
		 font-size: 13px;
		line-height: 15px;
	}
}


@media all and (max-width: 968px) {

	.main-logo img {
		width: 180px;
		height: 34px;
	}

    .main-content {
		margin-top: 50px;
	}



	.catalog-equipment-list {
		justify-content: center;
	}

	.catalog-equipment-item {
		margin-right: 2%!important;
		margin-bottom: 1%;
		width: 47%;
	}

	.catalog-equipment-item:nth-child(2),
    .catalog-equipment-item:nth-child(4){
		margin-right: 0;
	}

    .catalog-equipment-number {
        width: 45px;
        height: 45px;
        font-size: 12px;
        line-height: 14px;
    }

    .scheme-work-list {
    width: 600px;
    }

    .scheme-work-item:nth-child(2) .scheme-work-description,
.scheme-work-item:nth-child(4) .scheme-work-description {
	left: -75px;
}

     .scheme-work-item:nth-child(2) .scheme-work-description{
        left: -50px;
    }

    .scheme-work-item:nth-child(1)::after, .scheme-work-item:nth-child(3)::after {

        left: 30px;
    }

    .scheme-work-item:nth-child(2)::after, .scheme-work-item:nth-child(4)::after {

        left: 30px;
    }

    .scheme-work-number {
        padding: 10px 18px;
    }

    .scheme-work-number::before {
        top: -7px;
        left: -6px;
        width: 60px;
        height: 60px;
    }

    .scheme-work-number::after {
    width: calc(90px - 20px);
    left: 65px;
    }

	.scheme-work-form {
		padding: 0;
	}

	.scheme-work-legend {
		font-size: 18px;
		line-height: 22px;
		padding-top: 48px;
	}


	.scheme-work-input {
		min-width: 48%;
	}

    .mobile-versia,
    .scheme-work-textarea {
        width: 90%;
        margin: 0 auto 10px auto;
        display: block;
    }


    .mobile-versia {

        display: flex;
        justify-content: space-between;
    }

    .scheme-work-btn {
        margin-bottom: 35px;
    }

    .our-clients-link img {
        min-width: 100px;
    }

    .slider {
	    margin-bottom: -35px;
}

    .slick-prev {
    left: -100px;
    }

    .slick-next {
    right: -100px;
}
}

@media all and (max-width: 568px) {
	.main-logo {
		width: 209px;
		height: 44px;
	}

	.control-button-descktop {
		display: none;
	}

	.item-btn-back-onmobile {
		display: block;
	}

	.btn-back-onmobile {
		display: flex;
		margin-left: 25px;
		border: none;
		background-color: transparent;
		margin-top: 27px;
	}

	.btn-back-onmobile img {
		transform: rotate(90deg);
		width: 12px;
		margin-right: 10px;
	}

	.technics-link-img {
		display: block;
	}

	.nav-secendory-block {
		display: none;
	}

	.nav-secendory-block-mobile {
		display: flex;
	}
	.service-list {
		left: 0;
		top: 0;
	}

	.nav-link-contact-phone span {
		font-size: 16px;
		line-height: 19px;
	}

	.technics-list, .service-list{
		padding: 0;
	}

	.technics-item {
		display: flex;
		align-items: flex-start;
		height: auto;
		width: 95%;
	}

	a.technics-link {
		margin-left: 25px;
		display: flex;
		align-items: center;
	}

	a.technics-link {
		margin-left: 25px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 5px;
		margin: 0;
		height: 90px;
		width: 100%;
	}

	.technics-link-img {
		display: block;
		max-height: 100%;
		/* min-width: 98px; */
		min-width: unset;
		/* max-width: 98px; */
		width: auto;
	}

	.technics-link-img {
		display: block;
	}

	h3.technics-link-header {
		text-align: left;
		font-weight: bold;
		text-align: left;
		font-weight: bold;
		margin-left: 10px;
	}

	.technics-item-control{
		min-width: unset;
		box-shadow: 0px 1px 6px rgb(0, 0, 0,  0.25);
		align-items: center;
	}

	.nav-menu-list {
		padding: 0;
		/*        margin-left: -45px;*/
		min-width: unset;
		width: 100%;
	}

	.menu-wrapper a{
		padding: 10px;
	}

	.nav-menu-item {
		justify-content: space-between;
        padding: 0 35px;
	}

	.nav-sub-menu {
		min-width: unset;
		flex-grow: 1;
	}

	.nav-menu-link {
		padding-left: 0;
		padding-right: 0;
	}

	.nav-menu-control {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		max-width: unset;
		flex-direction: row;
        padding: 0 15px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
	}

	.nav-menu-control button {
/*		align-self: flex-end;*/
/*		margin-right: 20px;*/
	}

	.tagline {
		padding-top: 25px;
		min-height: 190px;
        margin-bottom: 20px;
	}

	h1 {
	width: 212px;
	padding: 13px ;
	font-size: 14px;
	line-height: 17px;
	}
    .tagline h1 {
        margin-top: 10px;
    }

	.catalog-equipment-header {
		font-size: 20px;
		line-height: 24px;
	}

    .header-border {
        padding: 10px;
    }

    .header-border::after {
        background-size: contain;
        width: 30%;
        left: 25px;
    }

    .header-border::before {
        top: -45%;
        right: 10%;
        width: 30%;
        height: 100%;
        transform: scale(2);
        background: url(../svg/header-bg.svg) no-repeat center;
        background-size: contain;
    }

	.catalog-equipment-item {
		width: 100%;

	}

	 .catalog-equipment-list {
		width: 95%;

	}

	.catalog-equipment-item {
		box-shadow: none;
		margin: 0;

	}

	.catalog-equipment-link {
		flex-direction: row;
        margin-bottom: 25px;
	}

	.catalog-equipment-number {
		display: none;
	}

	.catalog-equipment-link-img {
		width: 30%;
	}

	.catalog-equipment-link-header {
		font-size: 14px;
		line-height: 16.44px;
		width: 50%;
		text-align: left;
		white-space: nowrap;
		text-transform: none;
		color: #000000;
		background-color:transparent;
		padding: 20px 0;
		margin: 0;
    }

    .catalog-equipment-link:hover .catalog-equipment-link-header {
        background-color: transparent;
    }

	.scheme-work-header {
		font-size: 20px;
        line-height: 24px;
        margin: 0 auto 110px auto;
        max-width: 210px;
	}

	.scheme-work-number {
		font-size: 16px;
		line-height: 18.75px;
		padding: 11px 16px;
		transform: rotate(-90deg);
	}

	.scheme-work-list {
        width: 350px;
		transform:  rotate(90deg) translate(55px, 10px);
		margin-bottom: 260px;
	}

	.scheme-work-number::before {
		top: -10px;
		left: -10px;
	}

	.scheme-work-number::after {
		width: 20px;
		transform: rotate(90deg);
		top: 65px;
		left: 10px;
	}

	.scheme-work-description {
		font-size: 16px;
		line-height: 19px;
		transform: rotate(-90deg) translate(-25px, -27px);
		left: -20px;
		top: -100px;
        font-size: 14px;
	}

	.scheme-work-item:nth-child(2) .scheme-work-description {
		left: 0px;
		top: 85px;
		white-space: normal;
		text-align: center;
	}

	 .scheme-work-item:nth-child(3) .scheme-work-description {
	  left:  -15px;
	top: -100px;
	white-space: normal;
	text-align: center;
	}

	.scheme-work-item:nth-child(4) .scheme-work-description {
	  left: -15px;
	top: 85px;
	white-space: normal;
	text-align: center;
	}

    .scheme-work-item::after {
        top: -40px;
    }

	.scheme-work {
	width: 100%;
	}

    .scheme-work-form {
        width: 95%;
    }

	.scheme-work-legend {
		font-size: 14px;
		line-height: 16.8px;
        white-space: break-spaces;
	}

    .mobile-versia {
        display: block;
    }

	.scheme-work-input {
		min-width: 100%;
        margin-bottom: 10px;
	}

    .scheme-work-textarea {
        min-height: 70px;
        max-height: 100px;
        padding: 0 5px;
    }

    input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 16px;
    padding: 10px ;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-size: 14px;
	line-height: 16px;
    padding: 10px ;
}



	.scheme-work-btn {
		font-size: 16px;
		line-height: 18.78px;
        margin-bottom: 30px;
        padding: 0 10px;
        max-width: 170px;
	}

	.our-clients-header {
		font-size: 20px;
		line-height: 24px;
	}

    .our-clients-link img {
        min-width: 100px;
    }

        .slider {
	    margin-bottom: 26px;
}

	.slick-prev {
	left: -50px;
}

	.slick-next {
	right: -50px;
	}

	.seo-header {
		font-size: 20px;
		line-height: 24px;
	}

	.seo {
	padding: 35px 40px;
	font-size: 16px;
	line-height: 21.5px;
	}

    .main-footer {
        padding-top: 20px;
    }

    .footer-wrapper {
		width: 100%;
		padding-top: 80px;
		position: relative;
	}

	.footer-content {
			justify-content: space-between;
	}

	.footer-logo {
		position: absolute;
		top: 0;
		left: 25%;
	}

    .footer-logo img {
		width: 180px;
        height: 34px;
	}

	.footer-list,
	.footer-contacts-list {
		margin-top: 0;
	}

    .footer-list{

        margin-right: 40px;
    }

	.footer-link {
	font-size: 13px;
	line-height: 177.5%;
		font-weight: bold;
	}

	.footer-contacts-link {
	 font-size: 13px;
	line-height: 15px;
	}

    .footer-adress {
        display: none;
    }

    .copyright {
        font-size: 10px;
        line-height: 12px;
        white-space: nowrap;
    }

    .copyright a {
        padding-left: 3px;
    }

    #myTabContent {

    padding: 40px 20px;
    }
}

@media all and (max-width: 368px) {
    .slider {
	    margin-bottom: -30px;
}
}
@media all and (min-width: 1300px) and (max-width: 1700px){
    .tagline h1{
        background-color: rgb(0, 0, 0,  0.6);
    }

    .tagline video {
        width: 100%;
        height: auto;
        position: absolute;
        max-width: 100vw;
        transform: translateY(-20%);
    }
}
